@import url('https://fonts.googleapis.com/css?family=Cabin|Roboto|Raleway');

body{
	background-color: #dcdde1;
	box-sizing: border-box;
	margin: 0;
}

.section-top{
	transition: 0.5s;
}

.nav-padding-container{
	background-color: #273c75;
	height: 0px;
	transition: 0.5s;
	
}
.nav-padding{
	display: block;
	height: 100px;
	transition: 0.5s;
}

/* -------------------- Nav -------------------- */

.navbar{
	background-color: #273c75;
	font-family: Roboto;
	padding: 5px 50px 0px 15px;
	position: fixed;
	max-width: 100%;
	width: 100%;
	display: flex;
	justify-content: space-around;
	z-index: 3;
	transition: 0.5s;
	font-size: 26px;
}
	.nav-scroll{
		background-color: #2f3640;
		font-size: 22px;
		opacity: 0.9;
		transition: 0.25s;
	}
	.nav-scroll:hover{
		opacity: 1;
	}
	.nav-brand{
		color: #273c75;
		font-family: Cabin;
		font-size: 32px;
		padding: 10px;
		text-decoration: none;	
		transition: 0.5s;		
	}
	.brand-color{
		color: #fbc531;
		transition: 0.5s;
	}
	.nav-item{
		align-self: center;
		color: #dcdde1;
		text-decoration: none;
	}
		.nav-item:hover{
			color: #fbc531;
			transition: 0.5s;
		}
		.active-link{
			color: #fbc531 !important;
		}
	.nav-toggle{
		color: #dcdde1;
		display: none;
		font-size: 32px;
		padding: 15px;
		position: fixed;
		top: 0;
		right: 0;
		text-decoration: none;
	}
		.nav-toggle:hover{
			color: #fbc531;
			transition: 0.5s;
		}
	.nav-toggled{
		transition: 0.5s;
	}
/* -------------------- Showcase -------------------- */

.showcase-container{
	background-color: #273c75;
	font-family: Roboto;
	height: 80vh;
	text-align: center;
	width: 100%;
}
	.showcase-title{
		color: #fbc531;
		font-size: 52px;
		margin: 0;
		padding-top: 30vh;
	}
	.showcase-text{
		color: #dcdde1;
		font-size: 32px;
		margin: auto;
		width: 60%;
	}
		.showcase-btn{
			background-color: #fbc531;
			border: none;
			border-radius: 3px;
			color: #273c75;
			font-size: 24px;
			height: 50px;
			margin-top: 25px;
			outline: none;
			transition: 0.5s;
			width: 300px;;
		}
		.showcase-btn:hover{
			background-color: #bb952d;
			cursor: pointer;
			transition: 0.5s;
		}

/* -------------------- Primary Items -------------------- */	
	
.primary-showcase-item{
	max-width: 300px;
	width: 30%;
	display: flex;
	flex-direction: column;
}

	.primary-title{
		background-color: #c23616;
		color: #dcdde1;
		font-family: Roboto;
		height: 40px;
		margin: 0;
		padding: 5px;
		text-align: center;
	}
	.primary-icon{
		padding: 15px 0;
		text-align: center;
	}
		#icon-1{
			background-color: #273c75;
			color: #fbc531;
		}
		#icon-2{
			background-color: #fbc531;
			color: #273c75;
		}
		#icon-3{
			background-color: #273c75;
			color: #fbc531;
		}
	.primary-text{
		background-color: #dcdde1;
		color: #273c75;
		font-family: Raleway;
		font-size: 20px;
		padding: 10px;
		text-align: center;
		height: 100%;
	}

/* -------------------- Global -------------------- */

.hidden{
	display: none;
}

.container{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.dark-background{
	background-color: #2f3640;
	padding: 50px;
}

.section-title{
	font-family: Roboto;
	font-size: 24px;
	text-align: center;
	}
	
.section-content{
	color: #dcdde1;
	font-family: Raleway;
	font-size: 18px;
	margin: 0 auto 15px auto;
	width: 80%;
}

/* -------------------- Portfolio -------------------- */
.secondary-showcase-item{
	border: 3px solid #2f3640;
	margin: 10px 0;
	max-width: 500px;
	padding-bottom: 35px;
	position: relative;
	width: 45%;
}
	.showcase-dark{
		background-color: #2f3640;
		color: #dcdde1;
	}
	.portfolio-title{
		background-color: #c23616;
		border-bottom: 3px solid #2f3640;
		color: #dcdde1;
		font-family: Raleway;
		font-size: 22px;
		margin: 0;
		padding: 5px;
		text-align: center;
	}
	.portfolio-img-container{
		height: 400px;
	}
		.portfolio-img{
			height: 100%;
			max-width: 100%;
			width: 100%;
		}
	.portfolio-desc{
		font-family: Raleway;
		font-size: 18px;
		padding: 0 15px;
	}
	.portfolio-link{
		text-decoration: none;
		position: absolute;
		bottom: 0;
		width: 100%;
	}
	.portfolio-link-text{
		background-color: #c23616;
		color: #dcdde1;
		font-family: Roboto;
		font-size: 18px;
		font-weight: 800;
		height: 15px;
		padding: 15px;
		text-align: center;
	}
	.portfolio-link-text:hover{
		background-color: #dcdde1;
		color: #c23616;
		transition: 0.3s;
	}
	.portfolio-icon-container{
		background-color: #273c75;
		color: #00a8ff;
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 200px;
		font-size: 100px;
		text-align: center;
		transition: 0.5s;
	}
	.portfolio-icon-container:hover{
		background-color: #00a8ff;
		color: #273c75;
		cursor: pointer;
		transition: 0.5s;
	}
	.portfolio-icon-tagline{
		font-family: Raleway;
		font-size: 20px;
		font-weight: 800;
	}

/* -------------------- Modal -------------------- */	
.modal{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(47, 54, 64, 0.9);
	opacity: 0;
	visibility: hidden;
	transform: scale(1.1);
	transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
	z-index: 4;
}
	.modal-content{
		position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #dcdde1;
        padding: 10px 25px;
        width: 80vw;
		height: 80vh;
		overflow-y: scroll;
        border-radius: 0.5rem;
	}
		.modal-title{
			font-family: Roboto;
			font-size: 32px;
			padding-left: 20px;
			margin: 0;
		}
		.modal-img-container{
			margin: 0;
			height: 90%;
			text-align: center;
			width: 100%;
		}
		.modal-img-container-lower{
			margin: 0;
			max-height: 90%;
			text-align: center;
			width: 100%;
		}
			.modal-img{
				border-radius: 5px;
				height: 100%;
				margin-bottom: 10px;
				width: 100%;
			}
			.modal-img-med{
				border-radius: 5px;
				max-height: 100%;
				max-width: 500px;
				margin: 0 10px 0px 10px;
			}
			.modal-img-sm{
				border-radius: 5px;
				max-height: 100%;
				max-width: 300px;
				margin: 0 10px 0px 10px;
			}
		.modal-desc{
			font-family: Raleway;
			font-size: 20px;
			padding: 0 10%;
			text-align: center;
		}
		.close-button{
			float: right;
			font-size: 20px;
			width: 30px;
			line-height: 1.5rem;
			text-align: center;
			cursor: pointer;
			border-radius: 3px;
			background-color: #c23616;
			color: #dcdde1;
			transition: 0.25s;
			
		}
		.close-button:hover{
			background-color: #dcdde1;
			color: #c23616;
			transition: 0.25s;
		}
.show-modal{
	opacity: 1;
	visibility: visible;
	transform: scale(1.0);
	transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;	
}

/* -------------------- About -------------------- */
#about{
	color: #dcdde1;
	padding: 10px;
}
	.about-content{
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
	}
	.skills-container{
		width: 45%;
	}
		.sub-title{
			font-family: Roboto;
			font-size: 20px;
			margin: 0;
		}
		.skills-list{
			padding: 0;
		}
		.skills-list-item{
			font-family: Cabin;
			font-size: 18px;
			list-style: none;
		}
		#skills{
			color: #00a8ff;
		}
		#quals{
			color: #00a8ff;
		}
		.cv{
			border: 3px solid #dcdde1;
			color: #dcdde1;
			font-family: Cabin;
			font-size: 18px;
			padding: 5px;
			text-align: center;
		}
			.cv-tagline{
				margin: 5px 0 10px 0;
				}
			.cv-download{
				color: #dcdde1;
				text-align: center;
				text-decoration: none;
			}
			.cv-download:hover{
				color: #fbc531;
				transition: 0.3s;
			}
/* -------------------- Contact -------------------- */

.tagline{
	font-family: Raleway;
	font-size: 20px;
	text-align: center;
}

.contact-form{
	font-family: Raleway;
	margin: auto;
	text-align: center;
	width: 60%;
	display: flex;
	flex-wrap: wrap;

}
	.field-label{
		margin-bottom: 5px;
		font-size: 20px;
		text-align: left;
	}
	.input-field{
		background-color: #dcdde1;
		border: none;
		border-bottom: 2px solid #c23616;
		border-left: 2px solid #c23616;
		font-size: 18px;
		padding: 5px;
		width: 100%;
	}
	.input-field:focus{
		border-bottom: 3px solid #4cd137;
		border-left: 3px solid #4cd137;
		outline: none;
		transition: 0.5s;
	}
	#text-area{
		font-family: Raleway;
		font-size: 16px;
		max-width: 100%;
		min-height: 100px;
	}
	#submit-form{
		border: none;
		background-color: #c23616; 
		color: #dcdde1;
		cursor: pointer;
		font-size: 24px;
		height: 50px;
		margin: 10px auto;
		transition: 0.5s;
		width: 100%;
	}
		#submit-form:hover{
			background-color: #4cd137; 
			color: #2f3640;
			transition: 0.5s;
		}

    .email-success{
        background-color: #4cd137;
        color: #2f3640;
    }

    .email-failure{
        background-color: #c23616; 
		color: #dcdde1;
    }
		
/* -------------------- Footer -------------------- */
		
footer{
	background-color: #2f3640;
	color: #dcdde1;
	font-family: Roboto;
	height: 100px;
	padding-top: 10px;
	text-align: center;
	width: 100%;
}
	.media-list{
		padding: 0;
	}
	.media-list-item{
		display: inline;
		list-style: none;
		padding: 0 10px;

	}
	.media-link{
		color: #dcdde1;
	}
	.media-link:hover{
		color: #fbc531;
	}

/* ---------- ScrollBar ---------- */
/* Width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888; 
}
	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
		background: #555; 
	}
	
/* -------------------- Media Queries -------------------- */

/* -------------------- Smartphones  -------------------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	.primary-showcase-item{border: none; border-bottom: 3px solid #dcdde1; margin-bottom: 10px; max-width: none; width: 80%; font-size: 12px;}
	.secondary-showcase-item{max-width: 375px; width: 100%;}
	.primary-title{background-color: #2f3640; color: #2f3640;}
	.primary-icon{width: 150px; border-radius: 50%; margin: auto;}
	#icon-1, #icon-2, #icon-3{background-color: #dcdde1; color: #2f3640;}
	.showcase-title{padding-top: 20vh;}
	.skills-container{width: 100%;}	
	.contact-form{width: 80%;}
	.primary-text{background-color: #2f3640; color: #dcdde1;}
	
	.nav-item{background-color: #273c75; display: none; text-align: center; width: 100%; transition: width 0s;}
	.nav-item:hover{background-color: #dcdde1; color: #273c75;}
	.nav-toggle{display: block;}
	.nav-toggled{display: block; padding-bottom: 5px;}
	#navbar{flex-direction: column; padding-left: 0;}
}

/* -------------------- Smaller than Laptops -------------------- */
@media only screen and (max-width : 1200px) {
	.primary-showcase-item{border: none; border-bottom: 3px solid #dcdde1; margin-bottom: 10px; max-width: none; width: 80%;}
	.secondary-showcase-item{max-width: 375px; width: 100%;}
	.primary-title{background-color: #2f3640; color: #fbc531;}
	.primary-icon{width: 150px; border-radius: 50%; margin: auto;}
	#icon-1, #icon-2, #icon-3{background-color: #dcdde1; color: #2f3640;}
	.showcase-title{padding-top: 20vh;}
    .showcase-container{height: 100%; padding-bottom: 10px;}
	.skills-container{width: 100%;}	
	.contact-form{width: 80%;}
	.primary-text{background-color: #2f3640; color: #dcdde1;}
	
	.nav-brand{max-width: 40%;}
	.nav-item{background-color: #273c75; display: none; text-align: center; width: 100%; transition: width 0s;}
	.nav-item:hover{background-color: #dcdde1; color: #273c75;}
	.nav-toggle{display: block;}
	.nav-toggled{display: block; padding-bottom: 5px;}
	#navbar{flex-direction: column; padding-left: 0;}
}

/* -------------------- Desktops and laptops -------------------- */
@media only screen and (min-width : 1224px) {

}

/* -------------------- Large screens -------------------- */
@media only screen and (min-width : 1824px) {

}
